@page "/register"
@using ProjectBlazor.Models
@using ProjectBlazor.Services
@inject AuthService AuthService
@inject NavigationManager Navigation

<h3>Регистрация</h3>

<EditForm Model="@user" OnValidSubmit="HandleSubmit">
    <InputText @bind-Value="user.Username" placeholder="Логин" />
    <InputText @bind-Value="user.PasswordHash" placeholder="Пароль" type="password" />
    <InputSelect @bind-Value="role">
        <option value="User">Пользователь</option>
        <option value="Admin">Администратор</option>
    </InputSelect>
    <button type="submit">Зарегистрироваться</button>
</EditForm>

@code {
    private User user = new();
    private string role = "User";

    private async System.Threading.Tasks.Task HandleSubmit()
    {
        if (await AuthService.RegisterAsync(user, role))
        {
            Navigation.NavigateTo("/login");
        }
    }
}